{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="artist-section">
 
    <img src="{{ artist.image }}" alt="{{ artist.image.alt }}" class="artist-image"  width="400px " height="{{ artist.image.height }}"/>
  </div>


  <div class="info-section">
    
  <h1 class="h1">{{ artist.name }}</h1>
    <div class="artist-info">
      <p><strong>Followers:</strong> {{ artist.followers }}</p>
      <p><strong>Genres:</strong> {{ artist.genres }}</p>
      <p><strong>Popularity:</strong> {{ artist.popularity }}</p>
      {% comment %} <p><strong>Type:</strong> {{ artist.type }}</p> {% endcomment %}
    </div>
    </div>

    <h2 class="tracks-heading">Top Tracks</h2>

    <ul class="track-list">
        {% if topTracks and topTracks.size > 0 %}
          {% for track in topTracks %}
            <li class="track-card">
              <img src="{{ track.album.images[0].url }}" alt="album image" class="toptrack-image" style="view-transition-name: song_{{ track.id }};" />
              <h3>{{ track.name }}</h3>
              <p>Album: {{ track.album.name }}</p>
              <button class="add-playlist-button" data-id="{{ track.id }}" data-track-uri="{{ track.uri }}">
                Add to playlist
              </button>
            </li>
          {% endfor %}
        {% else %}
          <li>No top tracks available</li>
        {% endif %}
      </ul>
    </div>
  






{% endblock %}
