{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">{{ artist.name }}</h1>
<img src="{{ artist.image}}" alt="{{ artist.image.alt }}" width="400px " height="{{ artist.image.height }}" />

<p class="p" > Followers: {{ artist.followers}} </p>
<p> Genres: {{ artist.genres }} </p>
<p> {{ artist.popularity}} </p>
<p> {{ artist.type}} </p>
<h2> Top Tracks </h2>
<ul>
    {% if topTracks and topTracks.size > 0 %}
        {% for track in topTracks %}
            <li> {{ track.name }} <br>
                Album: {{track.album.name}}
            </li>
            


        {% endfor %}
    {% else %}
        <li>No top tracks available</li>
    {% endif %}
</ul>

{% endblock %}
