{% layout "server/layouts/base.liquid" %}
 
{% block content %}
 
<h1 class="h1">{{ title }}</h1>
 
<h2>Artists</h2>
<ul class="grid">

  {% for artist in artists %}
<li>
<a href="/artist/{{ artist.id }}">
<div class="card">
<img class="card__image" src="{{ artist.image }}" alt="{{ artist.name }}">
<h3>{{ artist.name }}</h3>
</div>
</a>
</li>

  {% endfor %}
</ul>
 
{% endblock %}
 
