{% layout "server/layouts/base.liquid" %}

{% block content %}


  {% comment %} <div class="header">
    <h1>{{ title }}</h1>
    <nav>
      <a href="/">Featured Artists</a>
      <a href="/all-artists" class="active">All Artists</a>
      <a href="/server/views/playlist.liquid">Playlist</a>
    </nav>
  </div> {% endcomment %}

  <div class="artist-count">
    Showing {{ artists.size }} artists
  </div>
  
  <ul class="grid">
    {% for artist in artists %}
      <li>
        <a href="/artist/{{ artist.id }}" class="card__link">
          <div class="card">
            {% if artist.image %}
              <img src="{{ artist.image }}" class="card__image" alt="{{ artist.name }}">
            {% else %}
              <div class="placeholder-image">
                <span>No Image</span>
              </div>
            {% endif %}
  
            <div class="card__content">
              <h3>{{ artist.name }}</h3>
              <div class="artist-genres">
                {% if artist.genres.size > 0 %}
                  {% assign genre_list = artist.genres | join: ', ' %}
                  {{ genre_list | truncate: 50 }}
                {% else %}
                  <span>No genres listed</span>
                {% endif %}
              </div>
              <div>
                <small>Popularity</small>
                <div class="popularity-bar">
                  <div class="popularity-fill" style="width: {{ artist.popularity }}%;"></div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  
{% endblock %}



